<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <%= link_to root_path, class: 'navbar-brand fw-bold' do %>
      <i class="fa fa-ticket"></i> TicketPrime
            <% end %>
    


    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <%= link_to events_path, class: 'nav-link' do %>
          <i class="bi bi-house-fill"></i> Ver Eventos
              <% end %>
        </li>
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to new_event_path, class: 'nav-link' do %>
            <i class="bi bi-plus-circle"></i> Criar evento
              <% end %>
          </li>
          <li>
            <%= link_to cart_path, class: 'nav-link' do %>
            <i class="bi bi-cart-fill"></i> Carrinho
            <% end %>
          </li>
          <li>
            <%= link_to orders_path, class: 'nav-link' do %>
            <i class="bi bi-ticket-fill"></i> Meus Ingressos
            <% end %>
          </li>
          <li>
            <%= link_to dashboard_path, class: "nav-link" do %>
            <i class="bi bi-bar-chart-fill"></i> Dashboard
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to  edit_user_registration_path, class: 'nav-link' do %>
            <i class="bi bi-person-circle"></i> Editar Perfil
              <% end %>
          </li>
          <li>
            <%= button_to destroy_user_session_path, method: :delete, class: 'nav-link' do %>
            <i class="bi bi-box-arrow-right"></i> Sair
              <% end %>
          </li>
        <% else %>
          <li>
            <%= link_to new_user_registration_path, class: 'nav-link' do %>
            <i class="bi bi-person-add"></i> Cadastar
              <% end %>
          </li>

          <li>
            <%= link_to new_user_session_path, class: 'nav-link' do %>
              <i class="bi bi-box-arrow-in-left"></i> Entrar
              <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
