<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <%= link_to root_path, class: 'navbar-brand fw-bold' do %>
      <i class="fa fa-ticket"></i> TicketPrime
            <% end %>
    


    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <%= link_to events_path, class: 'nav-link' do %>
          <i class="fa fa-home"></i> Ver Eventos
              <% end %>
        </li>
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to new_event_path, class: 'nav-link' do %>
            <i class="fa fa-plus"></i> Criar evento
              <% end %>
          </li>
          <li>
            <%= link_to cart_path, class: 'nav-link' do %>
            <i class="fa fa-cart-arrow-down"></i> Carrinho
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to  edit_user_registration_path, class: 'nav-link' do %>
            <i class="fa fa-user"></i> Editar Perfil
              <% end %>
          </li>
          <li>
            <%= button_to destroy_user_session_path, method: :delete, class: 'nav-link' do %>
            <i class="fa fa-sign-out"></i> Sair
              <% end %>
          </li>
        <% else %>
          <li>
            <%= link_to new_user_registration_path, class: 'nav-link' do %>
            <i class="fa fa-user"></i> Cadastar
              <% end %>
          </li>

          <li>
            <%= link_to new_user_session_path, class: 'nav-link' do %>
              <i class="fa fa-sign-in"></i> Entrar
              <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
